.wrapper {
	position: relative;
	transition-property: all;
}
.mountain-left {
	display: inline-block;
	top: 347px;
	left: 0px;
	animation: mountain-animation 6s infinite;
	transition-timing-function: linear;
	position: absolute;
}
.mountain-mid {
	display: inline-block;
	top: 133px;
	left: 144px;
	animation: mountain2-animation 10s infinite;
	transition-timing-function: linear;
	position: absolute;
}
.mountain-right {
	display: inline-block;
	top: 347px;
	right: 0px;
	animation: mountain-animation 6s infinite;
	transition-timing-function: linear;
	position: absolute;
}
.ground {
	display: inline-block;
	position: absolute;
	bottom: 0px;
}
.health-bar-left {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 50px;
	top: 50px;
	animation: health-animation 3s infinite;
}
.health-bar-right {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 50px;
	top: 50px;
	animation: health-animation 3s infinite;
}
.start {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

/*LEFT PLAYER*/
.left-life-1 {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 50px;
	top: 120px;
	animation: life-animation 3s infinite;
}
.left-life-2 {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 110px;
	top: 120px;
	animation: life-animation 3s infinite;
}
.left-life-3 {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 170px;
	top: 120px;
	animation: life-animation 3s infinite;
}
.knight {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 170px;
	bottom: 120px;
	animation: knight-animation 10s infinite;
}
.kaboom {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 460px;
	bottom: 180px;
	animation: kaboom-animation 4s infinite;
}


/*RIGHT PLAYER*/
.right-life-1 {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 50px;
	top: 120px;
	animation: life-animation 3s infinite;
}
.right-life-2 {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 110px;
	top: 120px;
	animation: life-animation 3s infinite;
}
.right-life-3 {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 170px;
	top: 120px;
	animation: life-animation 3s infinite;
}
.sorcerer {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 170px;
	bottom: 120px;
	animation: sorcerer-animation 3s infinite;
}
.fireball {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 350px;
	bottom: 250px;
	animation: fireball-animation 3s infinite;
}


/*DETAILS*/
.dragon {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 250px;
	bottom: 700px;
	animation: dragon-animation 15s infinite;
}